/* GLOBAL RULES */

@font-face {
  font-family: "Font";
  src: url("./assets/fonts/Font.eot");
  src: url("./assets/fonts/Font.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Font.woff2") format("woff2"),
    url("./assets/fonts/Font.woff") format("woff"),
    url("./assets/fonts/Font.ttf") format("truetype"),
    url("./assets/fonts/Font.svg#Font") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Font";
  src: url("./assets/fonts/Font_1.eot");
  src: url("./assets/fonts/Font_1.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Font_1.woff2") format("woff2"),
    url("./assets/fonts/Font_1.woff") format("woff"),
    url("./assets/fonts/Font_1.ttf") format("truetype"),
    url("./assets/fonts/Font_1.svg#Font") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* HOME */

* {
  box-sizing: border-box;
  font-family: "font";
}

/* Header */

#Header {
  width: 1240px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#Header button {
  margin-left: 10px;
  padding: 4px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.button-inscription {
  background: white;
  color: #09b1ba;
  border: #09b1ba solid 1px;
}

.button-connexion {
  background: white;
  color: #09b1ba;
  border: #09b1ba solid 1px;
}

.button-vendre {
  background-color: #09b1ba;
  color: white;
  border: none;
}

.button-disconnected {
  background-color: #c2175b;
  color: white;
  border: none;
}

#Header input {
  padding: 10px 300px 10px 10px;
  border: none;
  background-color: #f5f6f7;
  border-radius: 5px;
  border-color: none;
  margin-right: 50px;
  text-decoration-color: grey;
  font-style: bold;
}

.logo {
  padding-top: 5px;
  height: 70px;
}

/* Banner */

#Banner {
  display: flex;
  background-image: url("./assets/img/banner-vinted.jpg");
  background-size: cover;
  background-position: 50%;
  margin-top: 30px;
}

.Banner-sub {
  height: 400px;
  width: 1080px;
  align-items: center;
  margin: 10px auto 35px;
}

.Block {
  background-color: white;
  width: 50%;
  padding: 20px;
  border-radius: 10px;
  height: 200px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 80px;
}

.Block button {
  background-color: #09b1ba;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  width: 160px;
  border: none;
}

/* Home-Offers */

#Home-Card-Offers {
  width: 1240px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

.Card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  width: 235px;
  margin-left: 10px;
  margin-top: 30px;
}

.Card-container:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.Card-username {
  font-size: 12px;
}

.Card-container img {
  width: 235px;
  height: 362px;
  object-fit: cover;
}

.Card-container img:hover {
  box-shadow: 0 2px 2px 2px #9cb3b4;
}

.price {
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
}

.size {
  font-size: 12px;
}

.brand {
  font-size: 12px;
  color: grey;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}

/* SIGNUP */

.red-border {
  border: solid red 2px;
}

/* OFFER-PAGE */

.Offer-body {
  background-color: #ebedee;
  margin-top: 30px;
}

.Offer-container {
  display: flex;
  justify-content: space-evenly;
}

.Offer-pictures {
  padding: 30px 0;
  display: block;
}

.Offer-pictures img {
  width: 450px;
  height: 600px;
  object-fit: cover;
}

.Offer-infos {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 30px;
  height: 600px;
  margin-top: 30px;
}

.Offer-price {
  font-size: 24px;
  line-height: 32px;
}

.Offer-list {
  list-style-type: none;
  padding: 0;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.Infos-list {
  display: flex;
  justify-content: space-between;
}

span {
  font-size: 14px;
}

.Offer-infos .divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ebedee;
  margin-top: 80px;
}

.Offer-content {
  margin-top: 70px;
}

.Offer-name {
  font-weight: bold;
}

.Offer-avatar-username {
  font-weight: bold;
}

.Offer-infos button {
  background-color: #09b1ba;
  border: none;
  border-radius: 5px;
  color: white;
  height: 35px;
  font-size: 16px;
  width: 100%;
  margin-top: 100px;
}

/* SIGNUP PAGE */

h2 {
  margin: auto;
}

.Signup-container,
.Signup-form {
  display: flex;
  flex-direction: column;
}

.Signup-container {
  text-align: center;
  margin-top: 30px;
}

.Signup-form {
  width: 270px;
  margin: auto;
  margin-top: 20px;
}

.Signup-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

button,
input {
  outline: none;
}

input {
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  text-align: start;
  appearance: auto;
  cursor: text;
  margin: 0em;
  font: 400 13px Arial;
}

.Checkbox-container input {
  margin-right: 20px;
  height: 20px;
  width: 20px;
}

.Checkbox-container span {
  font-size: 16px;
}

.Checkbox-container p {
  font-size: 12px;
  color: #9cb3b4;
  text-align: left;
}

.Signup-button-inscription {
  background-color: #09b1ba;
  border: none;
  border-radius: 5px;
  color: white;
  height: 35px;
  font-size: 16px;
  width: 100%;
  margin-top: 10px;
  cursor: pointer;
}

.Already {
  font-size: 12px;
  color: #09b1ba;
}

/* LOGIN PAGE */

.Login-container,
.Login-form {
  display: flex;
  flex-direction: column;
}

.Login-container {
  text-align: center;
  margin-top: 30px;
}

.Login-form {
  width: 270px;
  margin: auto;
  margin-top: 20px;
}

.Login-form > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
}

.Login-button {
  background-color: #09b1ba;
  border: none;
  border-radius: 5px;
  color: white;
  height: 35px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

/* PUBLISH PAGE */

#Publish-main {
  background-color: #ebedee;
  margin-top: 20px;
}

.Publish-container {
  width: 1280px;
  margin: 0 auto;
}

.Publish-container h2 {
  font-size: 24px;
  padding-top: 40px;
}

h2 {
  font-weight: 400;
}

.File-select {
  background-color: #fff;
  padding: 24px;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
}

.File-select input {
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  height: 45px;
}

.Text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.Text-input-section {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}

.Text-input > h4 {
  font-weight: 400;
  margin: 0;
  vertical-align: baseline;
}

.Text-input > textarea {
  width: 50%;
  resize: none;
  border: none;
  border-bottom: 1px solid #ebedee;
  outline: none;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
}

.Text-input > input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
}

.Checkbox-section {
  width: 50%;
}

.Checkbox-section > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
  margin-bottom: 40px;
}

.Checkbox-input input {
  border-radius: 3px;
  margin: 0 15px 0 0;
  border: 1px solid #000;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

button,
input[type="checkbox"] {
  cursor: pointer;
}

div {
  display: block;
}

.Publish-button {
  background-color: #0ab1ba;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 40px 0 40px 1200px;
  height: 40px;
  width: 80px;
}

/* MEDIA QUERIES */

@media (max-width: 1180px) {
  header {
    background: pink;
  }
}
